@use "colors";

.container-header {
    display: flex;
    height: 5rem;
    padding: 3rem;
    justify-content: space-around;
    gap: 0.5rem;
    &:hover{
        background-color: colors.$header-bg-color-hover ;
    }
}

.container-titol{
    
}

.container-subtitol{


}

.navbar{
    height:2rem;
}