$color-main: #90b948;
$color-main-2: rgb(254, 202, 104);
$color-main-3: rgb(120, 119, 117);
$bg-color-page: white;
$color-hover-text: rgb(236, 112, 112);
$color-hover-text-2: rgba(69, 93, 201, 0.938);

$bg-sec-1: rgb(213, 207, 207);